/* font-family: 'Roboto', sans-serif;
font-family: 'Tenor Sans', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
}

.hero__container{
 
    background-color:#363348 ;
    margin-left:auto;
margin-right:auto;
margin-top:10px;
padding-top:120px;
text-align:center;

}

.hero__container h1 {
    font-family: 'Tenor Sans'; 
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
text-align: center;
text-transform: uppercase;
color: #E5B093;
}
.hero__container p{
    font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.hero__container img{
    width:24px;
margin-bottom:49px;
margin-top:91px;
}
.addInfo span{
    font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 66px;
/* identical to box height */
text-transform: uppercase;
color: #CE946B;
}
.addInfo h2{
    margin-top:33px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: #34343F;
display: flex;
flex-direction:column;
}


/* Slider  */
.slider-container{
    position: relative;
  }
  .slider{
    position: relative;
    max-width: 800px;
    overflow: hidden;
    margin: 0 20px;
  }
  
  .slider__line{
    display: flex;
  
    align-items: center;
    transition: all 1s;
  }
  .text-slider{
    font-family: 'Raleway';
    font-weight: 500;
  
  }
  .slider__img{
    /* border: 1px solid#000000; */
    border-radius: 10px;
  }
  .slider__btn-prev{
    position: absolute;
    left: 1%;
    top: 100%;
    background-color: transparent;
    border: none;
  }
  
  .slider__btn-next{
    position: absolute;
    right: 2%;
    top: 100%;
    background-color: transparent;
    border: none;
  }
  
  .slider__wrapper{
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slider__dot{
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #000000;
  }
  
  .slider__dot:hover {
    background-color: #000000;
  }
  
  .active-dot {
    background-color: #000000;
  }
  
  .slider__btn-next img, .slider__btn-prev img {
    width: 50px;
  }
  
  @media (max-width: 850px) {
  
    .slider__btn-next img, .slider__btn-prev img {
        width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));
  
        /* 50 - макс. ширина, которая нам нужна;
        20, 20px - мин. ширина, которая нам нужна;
        100vw - полная ширина экрана;
        320, 320px - мин. разрешение до которого будет уменьш. наше свойство;
        850 - разрешение экрана, с которого начинает ужиматься наш slider; */
    }
  
    .slider__dot {
        width: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
        height: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
    }
  
    .slider__wrapper{
        column-gap: calc(5px + (10 - 5) * ((100vw - 320px) / (850 - 320)));
    }
  }