/* font-family: 'Roboto', sans-serif;
font-family: 'Tenor Sans', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
}

.hero__container{
 
    background-color:#363348 ;
    margin-left:auto;
margin-right:auto;
margin-top:10px;
padding-top:120px;
text-align:center;

}

.hero__container h1 {
    font-family: 'Tenor Sans'; 
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
text-align: center;
text-transform: uppercase;
color: #E5B093;
}
.hero__container p{
    font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.hero__container img{
    width:24px;
margin-bottom:49px;
margin-top:91px;
}
.addInfo span{
    font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 66px;
/* identical to box height */
text-transform: uppercase;
color: #CE946B;
}
.addInfo h2{
    margin-top:33px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: #34343F;
display: flex;
flex-direction:column;
}


/* Slider  */
.slider-container{
    position: relative;
  }
  .slider{
    position: relative;
    max-width: 800px;
    overflow: hidden;
    margin: 0 20px;
  }
  
  .slider__line{
    display: flex;
  
    align-items: center;
    transition: all 1s;
  }
  .text-slider{
    font-family: 'Raleway';
    font-weight: 500;
  
  }
  .slider__img{
    /* border: 1px solid#000000; */
    border-radius: 10px;
  }
  .slider__btn-prev{
    position: absolute;
    left: 1%;
    top: 100%;
    background-color: transparent;
    border: none;
  }
  
  .slider__btn-next{
    position: absolute;
    right: 2%;
    top: 100%;
    background-color: transparent;
    border: none;
  }
  
  .slider__wrapper{
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slider__dot{
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #000000;
  }
  
  .slider__dot:hover {
    background-color: #000000;
  }
  
  .active-dot {
    background-color: #000000;
  }
  
  .slider__btn-next img, .slider__btn-prev img {
    width: 50px;
  }
  
  @media (max-width: 850px) {
  
    .slider__btn-next img, .slider__btn-prev img {
        width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));
  
        /* 50 - макс. ширина, которая нам нужна;
        20, 20px - мин. ширина, которая нам нужна;
        100vw - полная ширина экрана;
        320, 320px - мин. разрешение до которого будет уменьш. наше свойство;
        850 - разрешение экрана, с которого начинает ужиматься наш slider; */
    }
  
    .slider__dot {
        width: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
        height: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
    }
  
    .slider__wrapper{
        column-gap: calc(5px + (10 - 5) * ((100vw - 320px) / (850 - 320)));
    }
  }
  /*////////////////////////////////////////////////////  */



.slides {
    padding: 0;
    width: 300px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 300px;
    height: 420px;
    display: block;
    position: absolute;
margin-left: auto;
margin-right: auto;
    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    width: 300px;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
.circle{
  width:40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #CE946B;
}
.btn-contacts{
width: 272px;
height: 78px;
align-items: center;
background-color: #CE946B;
color: white;
background: linear-gradient(314.24deg, #C88C61 25.11%, #EBBE9C 88.64%);
box-shadow: inset 0px 0px 10px #E5B79A;
border-radius: 2% / 50%;
cursor: pointer;
font-family: 'TT Norms';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 0.857143px;
display: flex;
justify-content: center;

}
.btn-contacts:hover{
  background: linear-gradient(137deg, #C88C61 25.11%, #EBBE9C 88.64%);
  color: white;
}
.radius-contacts{
  border-radius: 26em/6em;
  border-end-end-radius: 0px;
  border-bottom-left-radius: 0%;
}